@charset "utf-8";
* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #09C;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: #690;
}

h1 {
	margin-bottom: 10px;
	margin-top: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: justify;
}

body, menu {
	margin: 0px;
	padding: 0px;
}

header {
	background-image: url("media/header_background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100px;
}

#content {
	margin-top: 100px;
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#header_container {
	position: relative;
	text-align: center;
	height: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#header_banner {
	width: 100%;
	height: 100%;
}

#header_logo {
	width: 100%;
	height: 90%;
	background-image: url("media/header_logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#menu_container {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	color: #FFF;
}

.seperator {
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.8);
}

#content_fields {
	display: none;
}

#field_list_start, #field_list, #field_list_end {
	width: 100%;
	background-size: 100%;
}

#field_list {
	background-image: url("media/field_background_center.png");
	background-repeat: repeat-y;
	background-position: center;
}

#field_list_start, #field_list_end {
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
}

#field_list_start {
	background-image: url("media/field_background_top.png");
	background-position: bottom;
}

#field_list_end {
	background-image: url("media/field_background_bottom.png");
	background-position: top;
}

#field_list .row {
	height: 150px;
	overflow: hidden;
	margin-left: 40px;
	margin-right: 40px;
}

.row .field {
	height: 100%;
	width: 50%;
	float: left;
	display: inline-block;
	position: relative;
}

.row .field .image {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url("media/ic_add_plant.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


#content_detail {

}

#content_detail #photo {
	width: 100%;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url("media/photo_tomato.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#content_detail #stats {
	padding: 10px;
}

#content_detail #actions {

}

#actions .action_item {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px;
	height: 40px;
	overflow: hidden;
}

.action_item .icon {
	position: relative;
	left: 0px;
	width: 40px;
	height: 100%;
	background-color: #FFF;
	float: left;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-image: url("media/ic_globe.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.action_item .text {
	position: relative;
	left: 60px;
	height: 100%;
	font-size: 20px;
	line-height: 40px;
}


.image_container {
	position: relative;
	left: 0px;
	right: 0px;
	height: 200px;
	background-color: rgba(0,0,0,0.2);
}

.image_holder {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center;
	background-repeat: none;
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#image_cv_0 {
	background-image: url('images/cv_0.jpg');
	opacity: 1;
}

#image_cv_0:hover {
	opacity: 0;
}

#image_cv_1 {
	background-image: url('images/cv_1.jpg');
}

#image_contact_0 {
	background-image: url('images/contact_0.jpg');
	opacity: 1;
}

#image_contact_0:hover {
	opacity: 0;
}

#image_contact_1 {
	background-image: url('images/contact_1.jpg');
}

.preload {
	display: none;
}